.navbar{
	animation-name: navbar;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	width: 100%;
	height: 50px;
	font-size: 20px;
	letter-spacing: 1px;

	background-color: #def3fa;
	box-shadow:0px 4px 3px 0px #d9d9d9;  

}

.navbar img{
	height: 50px;
}
.navbar-dark .navbar-nav .nav-link {
	color: black;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}
.fa {
	color: grey;
	text-decoration: none;
}
.fa:hover {
	color: black;
	text-decoration: none;
}

.social {
	color: #cfc9c8;
	padding: 5px;
	float: right;
}

.social:hover {
	cursor: default;
}

.main {

    animation-name: interior;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 0px;
	border-radius: 0;
	background-position: center;
	margin-top: 4px;

}

@keyframes interior {

	0%   {background-image: url(../images/interior1.jpeg);}
	25%  {background-image: url(../images/interior2.jpeg);}
	50%  {background-image: url(../images/interior3.jpeg);}
	75%  {background-image: url(../images/interior4.jpeg);} 
	100% {background-image: url(../images/interior1.jpeg);}
}

@keyframes header {
	0%   {color:#940000;}
	25%  {color:#008528;}
	50%  {color:#c90202;}
	75%  {color:#d9d500;}
	100% {color:#940000;}
}

.card{
	width: 85%;
	margin-top: 20px;
	margin-left: 5%;
}
form{
	text-align: center;
}
.row{
	width: 100%;
}

